#mainheader{
          color:aquamarine;
          font-family: sans-serif;
}
.div1{
          background-color:rgb(189, 187, 187);
}
.div2{
          background-color:rgb(189, 187, 187);
}
.head2{
          color:aquamarine;
          font-family: 'Times New Roman', Times, serif;         
}
.head3{
          color:aquamarine;
          font-family: cursive;
}
.span1{
          background-color:rgb(52, 173, 141);
}
.span2{
          background-color:rgb(52, 173, 141);
}