hr{
          width:500px;
          border:0.5px dashed black;
          margin-left:0px;
}
.box1{
          width:500px;
          background-color: lightcoral;
          border:10px solid red;
          padding:50px;
}
.box2 {
          width:500px;
          background-color: lightcoral;
          border:10px solid red;
          padding:50px;
          margin-bottom:20px;
          box-sizing:border-box;
}
